<div class="mt-5">
  <div class="container col-9">
    <div class="card mt-3">
      <div class="card-header d-flex  justify-content-center">
        <h1 >Setting Profil</h1>
      </div>
      <div class="row m-3">
        <h1 class="text-danger">Personal Informations</h1>
        <hr/>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">Firstname : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.firstname" [disabled]="DisableInput" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">LastName : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.lastname" [disabled]="DisableInput" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">UserName : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.login" [disabled]="DisableInput" />
            </div>
          </div>
        </div>
      </div>

      <div class="row m-3" *ngIf="editedUser.contact">
        <h1 class="text-danger">Contact</h1>
        <hr/>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">Phone : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.contact.phone" [disabled]="DisableInput" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">Email : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.contact.email" [disabled]="DisableInput" />
            </div>
          </div>
        </div>
      </div>

      <div class="row m-3" *ngIf="editedUser.address">
        <h1 class="text-danger">Address</h1>
        <hr/>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">Country : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.address.country"  [disabled]="DisableInput" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">City : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.address.city"  [disabled]="DisableInput" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">ZipCode : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.address.zipCode" [disabled]="DisableInput" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label">Address : </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control-sm" [(ngModel)]="editedUser.address.address"  [disabled]="DisableInput" />
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer d-flex  justify-content-end">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="!DisableInput">
              <button class="btn btn-outline-danger" type="button" (click)="cancelUpdate()">Cancel</button>
              <button class="btn btn-outline-success me-md-2" type="button" (click)="saveUpdate()">Save</button>
          </div>
          <button  *ngIf="DisableInput" class="btn btn-outline-danger" type="button" (click)="upadteProfil()">Update</button>
      </div>
    </div>
  </div>
</div>
