<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <ul class="navbar-nav">
    <li class="nav-item ">
      <!--<a class="nav-link text-white" routerLink="/home">StreamVideo</a>-->
      <div class="m-lg-1">
        <h3 class="text-white">StreamVideo</h3>
      </div>

    </li>
  </ul>

  <ul  class="navbar-nav ms-auto">
      <li  *ngIf="!isAuth">
        <a class="nav-link text-white" routerLink="/signup">Register</a>
      </li>
      <li *ngIf="!isAuth">
        <a class="nav-link text-white" routerLink="/login">Connect</a>
      </li>

    <li *ngIf="isAuth">
      <a class="nav-link text-white" routerLink="/Settings/{{credentialsId}}">Setting</a>
    </li>

    <li *ngIf="isAuth && roleType=='user'" class="nav-item">
           <a class="nav-link text-white" routerLink="/myPlayList">MyPlayList</a>
    </li>
    <li *ngIf="isAuth && roleType=='user'" class="nav-item">
      <a class="nav-link text-white" routerLink="/search">Search</a>
    </li>

    <li *ngIf="isAuth && roleType=='advert'" class="nav-item">
      <a class="nav-link text-white" routerLink="/myAdverts">MyAdverts</a>
    </li>

    <li *ngIf="isAuth && roleType=='admin'" class="nav-item">
      <a class="nav-link text-white" routerLink="/users">Users</a>
    </li>

    <li *ngIf="isAuth" class="nav-item">
      <a class="nav-link text-white" (click)="diconnect()">Diconnect</a>
    </li>



  </ul>
</nav>
