<!--<div class="mt-5">
  <h3 class="text-white">Youtube</h3>
  <carousel
    [cellsToShow]=5
    [counter]="true"
    [height]="250"
    [loop]="true">
    <div class="carousel-cell text-white" *ngFor="let item of data.items">
      <div class="container">
        <img src="{{ item.snippet.thumbnails.medium.url }}" (click)="clickTest()">
        <h6 class="mt-2">{{item.snippet.title}}</h6>
      </div>
    </div>
  </carousel>

</div>
-->


<div class="mt-3">
  <div class="container col-5 ">
    <div class="row">
        <div class="col-8">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
        </div>
      <div class="col-4">
        <button class="btn btn-success" type="submit" (click)="searchFunction()">Search</button>
      </div>
    </div>

  </div>


  <div class="m-3">

    <h3 class="text-white">Youtube</h3>
    <carousel
      [cellsToShow]=5
      [counter]="true"
      [height]="300"
      [loop]="true">
      <div class="carousel-cell text-white" *ngFor="let item of data.list">
        <div class="container">
          <img style="height: 200px; " src="{{ item['thumbnail_720_url'] }}">
          <p class="mt-2 text-white" (click)="clickTest(item)">{{item.title}} </p>
        </div>
      </div>
    </carousel>

    <h3 class="text-white">DailyMotion</h3>
    <carousel
      [cellsToShow]=5
      [counter]="true"
      [height]="300"
      [loop]="true">
      <div class="carousel-cell text-white" *ngFor="let item of data.list">
        <div class="container">
          <img style="height: 200px; " src="{{ item['thumbnail_720_url'] }}">
          <a class="mt-2 nav-link text-white" (click)="clickTest(item)">{{item.title}} </a>
        </div>
      </div>
    </carousel>
  </div>



</div>





