<div>
  <div class="d-flex justify-content-center">
    <h1 class="text-danger">Create New Playlist</h1>
  </div>


  <div class="form-group mt-5">
    <label><b>Playlist Name : </b></label>
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter Name">
  </div>

  <div class="mt-5 d-flex justify-content-end">
    <div>
      <button type="submit" class="btn btn-outline-danger pull-right btn-lg" (click)="onNoClick()">Cancel</button>
    </div>
    <div style="margin-left: 2%">
      <button type="submit" class="btn btn-outline-dark pull-right btn-lg" (click)="onClick()">Create</button>
    </div>
  </div>
</div>
