<div class="mt-5" *ngIf="this.videos.length == 0">
  <div class="container">
    <div class="row bg-danger rounded">
      <div class="d-flex justify-content-center m-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
          <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
        </svg>
      </div>

      <h1 class="text-white d-flex justify-content-center mt-1">Il n'y a pas de vidéo dans cette playlist</h1>

    </div>
  </div>

</div>

<div *ngIf="this.videos.length > 0">
  <div class="mt-5">
    <div class="container text-white">
      <div class="row">
        <div class="col-8">
          <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" [src]="url" width="100%" height="100%" allowfullscreen allow="autoplay"> </iframe> </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <h2 class="mt-2 text-white">{{this.videoPlay.title}}</h2>
            </div>
            <hr/>
          </div>
        </div>

        <div class="col-md-4 text-white">
          <label>Host server</label>
          <h5>{{this.videoPlay.hostname}}</h5>
          <hr/>
          <label>Description</label>
          <h5>{{this.videoPlay.description}}</h5>
        </div>
      </div>
      <div>
        <h2 class="bg-danger rounded d-flex justify-content-center mt-2">Other videos in the playlist</h2>
        <carousel
          [cellsToShow]=4
          [counter]="true"
          [height]="300"
          [loop]="true">
          <div class="carousel-cell text-white" *ngFor="let video of videos">
            <div class="container">
              <img style="height: 200px; " src="{{ video['thumbnails'] }}">
              <a class="mt-2 nav-link text-white d-flex justify-content-center  border border-danger rounded" (click)="clickTest(video)">{{video.title}} </a>
            </div>
          </div>
        </carousel>
      </div>

    </div>


  </div>
</div>
