<div class="mt-5">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="OnSubmit()" >
      <div class="col-6 offset-3  p-5 card">
      <div class="row">
        <h1>Personal Informations</h1>
        <hr/>
        <div class="col-6">
          <label>Firstname</label>
          <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname">
        </div>
        <div class="col-6">
          <label>Lastname</label>
          <input type="text" class="form-control"  placeholder="Lastname" formControlName="lastname">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <label>Login</label>
          <input type="text" class="form-control" placeholder="Login" formControlName="login">
        </div>
        <div class="col-6">
          <label>Password</label>
          <input type="password" class="form-control"  placeholder="Password" formControlName="password">
        </div>
      </div>

        <div class="row mt-3">
          <div class="col-6">
            <label>Role Type</label>
            <select class="form-select col-sm" [(ngModel)]="selectedRole"  formControlName="role">
              <option  *ngFor="let o of roles" value="{{o.name}}">
                {{o.label}}
              </option>
            </select>
          </div>

        </div>

      <div class="row mt-3">
        <h1>Contact</h1>
        <hr/>
        <div class="col-6">
          <label>Email</label>
          <input type="email" class="form-control"  placeholder="Email" formControlName="email">
        </div>
        <div class="col-6">
          <label>Phone</label>
          <input type="text" class="form-control"  placeholder="Phone" formControlName="phone">
        </div>
      </div>


      <div class="row mt-3">
        <h1>Country</h1>
        <hr/>
        <div class="col-4">
          <label>Phone</label>
          <select class="form-select col-sm" [(ngModel)]="selectedOption" name="first" formControlName="country">
            <option  *ngFor="let o of choices" value="{{o.name}}">
              {{o.label}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label>City</label>
          <input type="text" class="form-control"  placeholder="City" formControlName="city">
        </div>
        <div class="col-4">
          <label>ZipCode</label>
          <input type="text" class="form-control"  placeholder="ZipCode" formControlName="zipCode">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label>Address 2</label>
          <textarea class="form-control"  rows="3" placeholder="Address" formControlName="address"></textarea>
        </div>
      </div>

      <div class="mt-5 d-flex justify-content-end">
        <div>
          <button type="submit" class="btn btn-danger pull-right btn-lg" [disabled]="!userForm.valid">Sign up</button>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
